<?xml version="1.0" encoding="UTF-8"?>
<phpunit
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.0/phpunit.xsd"
    bootstrap="tests/bootstrap.php"
    colors="true"
    beStrictAboutOutputDuringTests="true"
    beStrictAboutTestsThatDoNotTestAnything="true"
    failOnRisky="true"
    failOnWarning="false"
    cacheDirectory=".phpunit.cache"
    displayDetailsOnIncompleteTests="true"
    displayDetailsOnSkippedTests="true"
>
    <testsuites>
        <testsuite name="District WordPress Plugin Tests">
            <directory>tests/</directory>
        </testsuite>
    </testsuites>
    <coverage cacheDirectory=".phpunit.cache">
    </coverage>
    <php>
        <ini name="error_reporting" value="-1"/>
        <ini name="display_errors" value="On"/>
        <ini name="display_startup_errors" value="On"/>
        <ini name="memory_limit" value="512M"/>
    </php>
</phpunit>

